--python-version 3.11

streamlit
pysqlite3-binary
chromadb
sentence-transformers
google-generativeai
pandas
numpy
yfinance
PyPDF2
python-dotenv
requests
feedparser
plotly
scikit-learn
nltk
beautifulsoup4
lxml