streamlit==1.33.0
protobuf==4.25.3
pysqlite3-binary==0.5.2.0
chromadb==0.4.24
sentence-transformers==2.7.0
google-generativeai==0.5.4
pandas==2.2.2
numpy==1.26.4
yfinance==0.2.37
PyPDF2==3.0.1
python-dotenv==1.0.1
requests==2.31.0
feedparser==6.0.11
plotly==5.22.0
scikit-learn==1.4.2
nltk==3.8.1
beautifulsoup4==4.12.3
lxml==5.2.1